In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from comp_analysis_cluster import read_rrng
import  pandas as pd
from tqdm import tqdm
import h5py
from comp_analysis_cluster import apt_df_2_big_chunks_arr
from tqdm import tqdm

In [7]:
%%time
folder = '/u/gazal/APT_calculations/for_nikita_Sm_Zr_Cu_Fe/APT_exp_Data_D3/D1'
apt_df_2_big_chunks_arr(folder,10)

  0%|          | 0/3 [00:00<?, ?it/s]

Hi
D1 High Hc R5076_52126.apt
Done, reading *.APT file

100%|██████████| 3/3 [00:02<00:00,  1.24it/s]

/u/gazal/APT_calculations/for_nikita_Sm_Zr_Cu_Fe/APT_exp_Data_D3/D1/R5076_53078__SmCoFeCuZr_goodrangefile_20210309_Polin_WithoutHydrites_colors.RRNG

100%|██████████| 10/10 [00:10<00:00,  1.04s/it]

CPU times: user 1min 33s, sys: 13.3 s, total: 1min 46s
Wall time: 1min 48s

In [4]:
#######################################################Done

In [8]:
hdf = h5py.File("./file_D1 High Hc R5076_52126_apt_large_chunks_test_arr.h5", "r")
print("groups:   ",list(hdf.items()))
dataset = hdf.get("Group_xyz_Da_spec")


print("keys:   ",list(dataset.keys()))

groups:    [('Group_xyz_Da_spec', <HDF5 group "/Group_xyz_Da_spec" (10 members)>)]
keys:    ['chunk_0', 'chunk_1', 'chunk_2', 'chunk_3', 'chunk_4', 'chunk_5', 'chunk_6', 'chunk_7', 'chunk_8', 'chunk_9']

In [5]:
#dataset = hdf.get("xyz_Da_spec")
arr = np.array(dataset.get("chunk_2"))
columns = list(list(dataset.attrs.values())[0])
pd.DataFrame(data = arr, columns =  columns)

                  x          y           z         Da  spec
0         15.569557  28.454739 -221.977875  28.082645   2.0
1         -8.819740 -25.931377 -221.977875  29.461376   0.0
2        -38.769955  24.578482 -221.977875  73.936569   3.0
3         14.593032   3.656040 -221.977875  58.932606   0.0
4          3.419344  53.909920 -221.977875  29.541327   0.0
...             ...        ...         ...        ...   ...
12058038  47.173653  -6.513051 -199.781586  28.116039   2.0
12058039  22.305206   3.647068 -199.781586  58.915775   0.0
12058040  12.899149  32.743221 -199.781586  58.918964   0.0
12058041  35.345623  25.584610 -199.781586  58.938145   0.0
12058042  18.872185 -34.669472 -199.781586  29.468571   0.0

[12058043 rows x 5 columns]

In [11]:
list(list(dataset.attrs.values())[1])

['Co:1', 'Cu:1', 'Fe:1', 'Sm:1', 'Zr:1']

In [6]:
hdf.close()